<div class="container-wide">
  <div class="container-general container">
    <div class="row background-grey">
      <div class="col-12 col-sm-12">

        <%# USER-PROFILE %>
        <div class="profile-user">
          <div class="user-header">
            <h2>Hi <%= current_user.first_name %> 👋🏼</h2>
          </div>

          <%# TABS %>
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true">Profile</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link" id="favorites-tab" data-toggle="tab" href="#favorites" role="tab" aria-controls="favorites" aria-selected="false">Favorites</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link active" id="boosted-tab" data-toggle="tab" href="#boosted" role="tab" aria-controls="boosted" aria-selected="false">Boosted Projects</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link" id="projects-tab" data-toggle="tab" href="#projects" role="tab" aria-controls="projects" aria-selected="false">My Projects</a>
            </li>
          </ul>

          <div class="tab-content" id="myTabContent">

            <%# PROFILE tab content %>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

              <div class="user-information">
                <p><strong>Name:</strong> <%= @user.first_name %> <%= @user.last_name %></p>
                <p><strong>Email:</strong> <%= @user.email %></p>
              </div>

              <%# update-profile %>
              <div class="profile-edit">
                <%= link_to "Edit Profile", edit_user_registration_path(current_user), class: "btn-normal-green" %>
              </div>
            </div>

            <%# FAVORITES tab content %>
            <div class="tab-pane fade" id="favorites" role="tabpanel" aria-labelledby="favorites-tab">
              Favorites
            </div>

            <%# BOOSTED IDEAS tab content %>
            <div class="tab-pane fade show active" id="boosted" role="tabpanel" aria-labelledby="boosted-tab">

              <% @investments.each do |investment| %>
                <div class="card-profile-project">
                  <div class="d-flex justify-content-between w-100 align-items-center">
                    <div class="d-flex justify-content-start">
                      <%= cl_image_tag investment.project.image.key, crop: :fill %>
                      <div class="card-project-infos profile-p">
                        <h2><%= investment.project.name %></h2>
                        <p class="card-project-category">
                          <% if investment.project.category.capitalize == "Planting" %>
                            <i class="fas fa-seedling category-dropdown-icon"> </i>
                          <% elsif investment.project.category.capitalize == "Energy" %>
                            <i class="fas fa-solar-panel category-dropdown-icon"> </i>
                          <% elsif investment.project.category.capitalize == "Animals" %>
                            <i class="fab fa-forumbee category-dropdown-icon"> </i>
                          <% elsif investment.project.category.capitalize == "Plastic alternatives" %>
                            <i class="fas fa-box-open category-dropdown-icon"> </i>
                          <% end %>
                          &nbsp;<%= investment.project.category.capitalize %>
                        </p>
                        <p class="card-project-address"><i class="fas fa-map-marker-alt"></i>&nbsp;&nbsp;<%= investment.project.address %></p>

                        <div class="d-flex justify-content-start mb-3">
                          <p class="pr-3"><i class="fas fa-money-bill-wave"></i>&nbsp;&nbsp;Goal: <%= humanized_money_with_symbol(investment.project.investment_goal_cents) %></p>
                          <p><strong>My Boost: </strong><%= humanized_money_with_symbol(investment.investment_amount_cents) %></p>
                        </div>

                        <div class="progress">
                          <% current_investment_sum = investment.project.current_investment_sum_cents
                          investment_goal = investment.project.investment_goal_cents
                          @investement_percentage = current_investment_sum.to_f / investment_goal * 100.0 %>
                          <div class="progress-bar bg-success" role="progressbar" style="width: <%= @investement_percentage %>%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>

                      </div>

                    </div>

                    <div>
                      <div class="btn-profile pr-3">
                        <%= link_to "Show", @project, class: "btn-normal-white" %>
                      </div>
                      <br>
                      <div class="btn-profile pr-3">
                        <%= link_to "Boost More", @project, class: "btn-normal-green" %>
                      </div>
                    </div>

                  </div>
                </div>
              <% end %>
            </div>

            <%# MY PROJECTS tab content %>
            <div class="tab-pane fade" id="projects" role="tabpanel" aria-labelledby="projects-tab">
              <% @projects.each do |project| %>
              <div class="card-profile-project">
                <div class="d-flex justify-content-between w-100 align-items-center">
                  <div class="d-flex justify-content-start">
                    <%= cl_image_tag project.image.key, crop: :fill %>
                    <div class="card-project-infos profile-p">
                      <h2><%= project.name %></h2>
                      <p class="card-project-category">
                        <% if project.category.capitalize == "Planting" %>
                          <i class="fas fa-seedling category-dropdown-icon"> </i>
                        <% elsif project.category.capitalize == "Energy" %>
                          <i class="fas fa-solar-panel category-dropdown-icon"> </i>
                        <% elsif project.category.capitalize == "Animals" %>
                          <i class="fab fa-forumbee category-dropdown-icon"> </i>
                        <% elsif project.category.capitalize == "Plastic alternatives" %>
                          <i class="fas fa-box-open category-dropdown-icon"> </i>
                        <% end %>
                        &nbsp;<%= project.category.capitalize %>
                      </p>
                      <p class="card-project-address"><i class="fas fa-map-marker-alt"></i>&nbsp;&nbsp;<%= project.address %></p>
                      <p class="mb-3"><i class="fas fa-money-bill-wave"></i>&nbsp;&nbsp;Goal: <%= humanized_money_with_symbol(project.investment_goal_cents) %></p>
                      <h6>"<%= project.punchline %>"</h6>
                    </div>
                  </div>
                  <div class="pr-3">
                    <div class="btn-profile">
                      <%= link_to "Show", project_path(project), class: "btn-normal-white" %>
                    </div>
                    <br>
                    <div class="btn-profile">
                      <%= link_to "Cancel", project_path(project), class: "btn-normal-green", method: :delete, data: { confirm: "Are you sure?" } %>
                    </div>
                  </div>
                </div>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

