<div class="container-wide">
  <div class="container-general">

    <div class="devise-content container">
      <div class="row">
        <div class="col-12 col-md-6 offset-md-3">

          <div class="devise-header">
            <h2>Reset Password</h2>
            <p>Please enter the email address you signed up with and we will send you the instructions needed to reset!</p>
          </div>

          <div class="devise-form">
            <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
              <%= f.error_notification %>

              <div class="form-inputs">
                <%= f.input :email,
                            required: true,
                            autofocus: true,
                            input_html: { autocomplete: "email" } %>
              </div>
          </div>

            <div class="form-actions devise-button">
              <%= f.button :submit, "Reset", class: "btn-normal-green w-100" %>
            </div>
          <% end %>

          <div class="shared-links">
            <p>Other Options:</p>
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
