<div class="hero-banner">
  <%# SEARCHBAR #%>
  <div class="searchbar">
    <%= form_tag projects_path, class: "search-form", method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "search-input",
        placeholder: "Search for category..."
      %>
      <%= button_tag(type: "submit", class: "btn btn-default", data: { turbolinks: false }) do %>
        <i class="fas fa-search"></i>
      <% end %>
    <% end %>
  </div>


  <div class="hero-content">
    <h1>GreenBooster</h1>
    <h3>investing green to make our world better</h3>
  </div>
  <div class="hero-buttons text-center">
    <%= link_to "Boost Now", projects_path, class: "btn-large-white btn-hero", data: { turbolinks: false } %>
    <%= link_to "Create Project", new_project_path, class: "btn-large-green btn-hero", data: { turbolinks: false } %>
  </div>
</div>

<div class="container-wide">
  <div class="container-home">
    <%# HOW INVESTING WORKS %>
    <h2 class="cards-hiw-header text-center">How To Invest</h2>

    <%# VERSION WITH CIRCLES %>
    <div class="cards-hiw-all d-flex justify-content-around row">
      <div class="card-hiw col-sm-4 col-md-3">
        <div class="card-hiw-content text-center">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="160" height="160" x="0" y="0" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><path xmlns="http://www.w3.org/2000/svg" d="m252.1875 149.921875 43.519531-12.628906 12.542969 28.585937-71.167969 41.386719zm0 0" fill="#95a5a5" data-original="#95a5a5" style=""/><path xmlns="http://www.w3.org/2000/svg" d="m346.15625 169.410156c-10.707031 5.839844-23.714844 5.519532-34.125-.832031s-16.640625-17.777344-16.34375-29.96875 7.078125-23.296875 17.785156-29.136719l24.386719 29.097656zm0 0" fill="#7f8c8d" data-original="#7f8c8d" style=""/><path xmlns="http://www.w3.org/2000/svg" d="m316.871094 97.894531 14.984375-8.171875c4.136719-2.253906 9.320312-.730468 11.574219 3.40625l32.6875 59.9375c2.253906 4.136719.730468 9.320313-3.40625 11.574219l-14.984376 8.171875c-4.136718 2.257812-9.320312.730469-11.578124-3.40625l-32.683594-59.933594c-2.257813-4.136718-.730469-9.320312 3.40625-11.578125zm0 0" fill="#bdc3c7" data-original="#bdc3c7" style="" class=""/><path xmlns="http://www.w3.org/2000/svg" d="m409.949219 428.390625s-32.367188 22.859375-58.382813 11.800781c-26.019531-11.058594-35.832031-51.839844-35.832031-51.839844s32.367187-22.863281 58.382813-11.804687c26.019531 11.0625 35.832031 51.84375 35.832031 51.84375zm0 0" fill="#7fb742" data-original="#71c285" style="" class=""/><path xmlns="http://www.w3.org/2000/svg" d="m409.25 428.390625s32.367188 22.859375 58.386719 11.800781c26.015625-11.058594 35.828125-51.839844 35.828125-51.839844s-32.363282-22.863281-58.382813-11.804687c-26.019531 11.0625-35.832031 51.84375-35.832031 51.84375zm0 0" fill="#7fb742" data-original="#4c8056" style="" class=""/><path xmlns="http://www.w3.org/2000/svg" d="m55.945312 173.703125c-1.339843.003906-2.664062-.3125-3.859374-.921875-16.710938-7.777344-29.5625-21.992188-35.625-39.398438-8.347657-24.660156-.359376-62.292968 17.792968-83.949218 9.617188-12.980469 25.484375-19.769532 41.511719-17.769532 15.171875 2.527344 28.023437 12.574219 34.136719 26.683594 1.269531 2.773438.96875 6.011719-.792969 8.5-1.765625 2.488282-4.722656 3.847656-7.757813 3.5625-3.035156-.28125-5.691406-2.164062-6.964843-4.9375-3.722657-8.859375-11.683594-15.234375-21.144531-16.929687-10.164063-1.097657-20.113282 3.457031-25.925782 11.863281-14.902344 19.101562-20.308594 43.945312-14.695312 67.515625 4.695312 13.144531 14.503906 23.835937 27.199218 29.644531 3.515626 1.792969 5.34375 5.757813 4.421876 9.59375-.921876 3.835938-4.351563 6.542969-8.296876 6.542969zm0 0" fill="#95a5a5" data-original="#95a5a5" style=""/><path xmlns="http://www.w3.org/2000/svg" d="m220.671875 282.707031-192.570313-69.714843 85.023438-184.722657 160.480469 58.09375zm0 0" fill="#bdc3c7" data-original="#bdc3c7" style="" class=""/><path xmlns="http://www.w3.org/2000/svg" d="m31.410156 203.847656 192.570313 69.714844c8.863281 3.207031 13.449219 12.992188 10.238281 21.855469-3.207031 8.863281-12.992188 13.449219-21.855469 10.238281l-192.570312-69.710938c-8.863281-3.210937-13.445313-12.996093-10.238281-21.859374 3.207031-8.863282 12.996093-13.445313 21.855468-10.238282zm0 0" fill="#95a5a5" data-original="#95a5a5" style=""/><path xmlns="http://www.w3.org/2000/svg" d="m122.984375 1.03125 160.472656 58.09375c8.863281 3.207031 13.449219 12.996094 10.238281 21.855469-3.207031 8.863281-12.992187 13.449219-21.855468 10.238281l-160.476563-58.09375c-8.863281-3.207031-13.445312-12.992188-10.238281-21.855469 3.210938-8.863281 12.996094-13.445312 21.859375-10.238281zm0 0" fill="#95a5a5" data-original="#95a5a5" style=""/><path xmlns="http://www.w3.org/2000/svg" d="m34.132812 502.945312h-25.597656c-4.714844 0-8.535156-3.820312-8.535156-8.535156 0-4.710937 3.820312-8.53125 8.535156-8.53125h25.597656c4.714844 0 8.535157 3.820313 8.535157 8.53125 0 4.714844-3.820313 8.535156-8.535157 8.535156zm0 0" fill="#cb8252" data-original="#cb8252" style="" class=""/><path xmlns="http://www.w3.org/2000/svg" d="m503.464844 502.945312h-435.199219c-4.710937 0-8.53125-3.820312-8.53125-8.535156 0-4.710937 3.820313-8.53125 8.53125-8.53125h435.199219c4.714844 0 8.535156 3.820313 8.535156 8.53125 0 4.714844-3.820312 8.535156-8.535156 8.535156zm0 0" fill="#cb8252" data-original="#cb8252" style="" class=""/><path xmlns="http://www.w3.org/2000/svg" d="m409.601562 502.945312c-4.714843 0-8.535156-3.820312-8.535156-8.535156v-153.597656c0-4.714844 3.820313-8.535156 8.535156-8.535156 4.710938 0 8.53125 3.820312 8.53125 8.535156v153.597656c0 4.714844-3.820312 8.535156-8.53125 8.535156zm0 0" fill="#cc6f56" data-original="#cc6f56" style="" class=""/><path xmlns="http://www.w3.org/2000/svg" d="m188.082031 428.390625s-32.367187 22.859375-58.382812 11.800781c-26.019531-11.058594-35.832031-51.839844-35.832031-51.839844s32.367187-22.863281 58.382812-11.804687c26.019531 11.0625 35.832031 51.84375 35.832031 51.84375zm0 0" fill="#7fb742" data-original="#71c285" style="" class=""/><path xmlns="http://www.w3.org/2000/svg" d="m187.382812 428.390625s32.367188 22.859375 58.386719 11.800781c26.015625-11.058594 35.832031-51.839844 35.832031-51.839844s-32.367187-22.863281-58.386718-11.804687c-26.019532 11.0625-35.832032 51.84375-35.832032 51.84375zm0 0" fill="#7fb742" data-original="#4c8056" style="" class=""/><g xmlns="http://www.w3.org/2000/svg" fill="#84b5cb"><path d="m375.464844 93.34375c-2.257813-.03125-4.421875-.914062-6.058594-2.472656-.75-.832032-1.355469-1.785156-1.789062-2.816406-.4375-1.027344-.671876-2.128907-.683594-3.242188 0-4.714844 3.820312-8.535156 8.53125-8.535156 4.714844 0 8.535156 3.820312 8.535156 8.535156-.011719 1.113281-.246094 2.214844-.683594 3.242188-.433594 1.03125-1.039062 1.984374-1.792968 2.816406l-1.277344 1.023437c-.476563.320313-.992188.578125-1.535156.765625-.511719.261719-1.0625.433594-1.632813.511719-.53125.101563-1.070313.160156-1.613281.171875zm0 0" fill="#84b5cb" data-original="#84b5cb" style="" class=""/><path d="m409.601562 84.707031c-2.261718-.03125-4.425781-.917969-6.058593-2.480469-.757813-.828124-1.363281-1.78125-1.792969-2.816406-.4375-1.023437-.671875-2.121094-.683594-3.234375 0-4.714843 3.820313-8.535156 8.535156-8.535156 4.710938 0 8.53125 3.820313 8.53125 8.535156-.011718 1.113281-.246093 2.210938-.683593 3.234375-.429688 1.035156-1.035157 1.988282-1.789063 2.816406l-1.28125 1.023438c-.476562.320312-.992187.578125-1.535156.765625-.511719.261719-1.0625.4375-1.632812.523437-.53125.09375-1.070313.152344-1.609376.167969zm0 0" fill="#84b5cb" data-original="#84b5cb" style="" class=""/><path d="m401.066406 118.945312c-2.257812-.03125-4.421875-.917968-6.058594-2.476562-.753906-.828125-1.359374-1.78125-1.792968-2.816406-.4375-1.023438-.667969-2.125-.679688-3.242188 0-4.710937 3.820313-8.53125 8.53125-8.53125 4.714844 0 8.535156 3.820313 8.535156 8.53125-.015624 1.117188-.246093 2.21875-.683593 3.242188-.433594 1.035156-1.039063 1.988281-1.792969 2.816406l-1.28125 1.023438c-.476562.324218-.992188.582031-1.535156.769531-.511719.257812-1.0625.433593-1.628906.511719-.53125.101562-1.070313.15625-1.613282.171874zm0 0" fill="#84b5cb" data-original="#84b5cb" style="" class=""/><path d="m426.667969 144.441406c-2.261719-.035156-4.425781-.921875-6.058594-2.484375-.757813-.828125-1.363281-1.78125-1.792969-2.8125-.4375-1.023437-.667968-2.125-.683594-3.234375 0-4.714844 3.820313-8.535156 8.535157-8.535156 4.710937 0 8.53125 3.820312 8.53125 8.535156-.011719 1.109375-.246094 2.210938-.683594 3.234375-.429687 1.03125-1.035156 1.984375-1.789063 2.8125l-1.28125 1.027344c-.476562.320313-.992187.578125-1.535156.765625-.511718.257812-1.0625.433594-1.628906.519531-.535156.097657-1.074219.152344-1.613281.171875zm0 0" fill="#84b5cb" data-original="#84b5cb" style="" class=""/><path d="m426.667969 178.574219c-2.261719-.035157-4.425781-.921875-6.058594-2.480469-.757813-.832031-1.363281-1.78125-1.792969-2.816406-.4375-1.023438-.667968-2.121094-.683594-3.234375 0-4.714844 3.820313-8.535157 8.535157-8.535157 4.710937 0 8.53125 3.820313 8.53125 8.535157-.011719 1.113281-.246094 2.210937-.683594 3.234375-.429687 1.035156-1.035156 1.984375-1.789063 2.816406l-1.28125 1.023438c-.476562.320312-.992187.578124-1.535156.765624-.511718.257813-1.0625.433594-1.628906.523438-.535156.09375-1.074219.152344-1.613281.167969zm0 0" fill="#84b5cb" data-original="#84b5cb" style="" class=""/><path d="m443.734375 101.878906c-2.261719-.03125-4.425781-.917968-6.058594-2.476562-.753906-.828125-1.359375-1.78125-1.792969-2.816406-.4375-1.023438-.667968-2.125-.683593-3.242188 0-4.710938 3.820312-8.53125 8.535156-8.53125 4.710937 0 8.53125 3.820312 8.53125 8.53125-.011719 1.117188-.246094 2.21875-.679687 3.242188-.433594 1.035156-1.039063 1.988281-1.792969 2.816406l-1.28125 1.023437c-.476563.324219-.992188.582031-1.535157.769531-.511718.257813-1.0625.433594-1.628906.511719-.535156.097657-1.074218.15625-1.613281.171875zm0 0" fill="#84b5cb" data-original="#84b5cb" style="" class=""/><path d="m460.800781 127.476562c-2.261719-.03125-4.425781-.914062-6.058593-2.472656-.753907-.832031-1.359376-1.78125-1.792969-2.816406-.4375-1.027344-.667969-2.128906-.683594-3.242188 0-4.714843 3.820313-8.535156 8.535156-8.535156 4.710938 0 8.53125 3.820313 8.53125 8.535156-.011719 1.113282-.242187 2.214844-.679687 3.242188-.433594 1.035156-1.039063 1.984375-1.792969 2.816406l-1.28125 1.023438c-.476563.320312-.992187.578125-1.535156.769531-.511719.257813-1.0625.429687-1.628907.511719-.535156.097656-1.074218.15625-1.613281.167968zm0 0" fill="#84b5cb" data-original="#84b5cb" style="" class=""/><path d="m469.332031 161.609375c-2.257812-.03125-4.421875-.914063-6.058593-2.472656-.75-.832031-1.359376-1.78125-1.789063-2.816407-.4375-1.027343-.671875-2.128906-.683594-3.242187 0-4.714844 3.820313-8.535156 8.53125-8.535156 4.714844 0 8.535157 3.820312 8.535157 8.535156-.015626 1.113281-.246094 2.214844-.683594 3.242187-.433594 1.035157-1.039063 1.984376-1.792969 2.816407l-1.277344 1.023437c-.476562.320313-.992187.578125-1.539062.769532-.507813.257812-1.058594.429687-1.628907.511718-.53125.097656-1.070312.15625-1.613281.167969zm0 0" fill="#84b5cb" data-original="#84b5cb" style="" class=""/><path d="m469.332031 195.640625c-2.257812-.03125-4.421875-.921875-6.058593-2.480469-.753907-.828125-1.359376-1.78125-1.789063-2.816406-.4375-1.023438-.671875-2.121094-.683594-3.234375 0-4.714844 3.820313-8.535156 8.53125-8.535156 4.714844 0 8.535157 3.820312 8.535157 8.535156-.015626 1.113281-.246094 2.210937-.683594 3.234375-.429688 1.035156-1.035156 1.988281-1.792969 2.816406l-1.277344 1.023438c-.476562.320312-.992187.578125-1.539062.765625-.511719.261719-1.0625.4375-1.628907.523437-.53125.09375-1.070312.152344-1.613281.167969zm0 0" fill="#84b5cb" data-original="#84b5cb" style="" class=""/></g><path xmlns="http://www.w3.org/2000/svg" d="m477.867188 272.542969c0 37.703125-30.566407 68.269531-68.265626 68.269531-37.703124 0-68.269531-30.566406-68.269531-68.269531s30.566407-68.265625 68.269531-68.265625c37.699219 0 68.265626 30.5625 68.265626 68.265625zm0 0" fill="#f0c419" data-original="#f0c419" style="" class=""/><path xmlns="http://www.w3.org/2000/svg" d="m409.601562 349.34375c-42.417968 0-76.800781-34.382812-76.800781-76.800781 0-42.414063 34.382813-76.796875 76.800781-76.796875 42.414063 0 76.796876 34.382812 76.796876 76.796875-.046876 42.398437-34.402344 76.753906-76.796876 76.800781zm0-136.53125c-32.992187 0-59.734374 26.742188-59.734374 59.730469 0 32.992187 26.742187 59.734375 59.734374 59.734375 32.988282 0 59.730469-26.742188 59.730469-59.734375-.035156-32.972657-26.757812-59.695313-59.730469-59.730469zm0 0" fill="#f29c1f" data-original="#f29c1f" style="" class=""/><path xmlns="http://www.w3.org/2000/svg" d="m409.601562 281.078125c-8.078124.121094-16.011718-2.117187-22.835937-6.433594-6.972656-3.859375-11.300781-11.199219-11.300781-19.167969s4.328125-15.304687 11.300781-19.164062c14.089844-8.304688 31.578125-8.304688 45.667969 0 3.921875 2.613281 4.980468 7.914062 2.367187 11.835938-2.617187 3.921874-7.917969 4.980468-11.835937 2.363281-8.335938-4.53125-18.394532-4.53125-26.726563 0-2.199219.652343-3.710937 2.671875-3.710937 4.964843 0 2.296876 1.511718 4.316407 3.710937 4.96875 4.019531 2.4375 8.660157 3.675782 13.363281 3.566407 4.710938 0 8.53125 3.820312 8.53125 8.53125 0 4.714843-3.820312 8.535156-8.53125 8.535156zm0 0" fill="#f29c1f" data-original="#f29c1f" style="" class=""/><path xmlns="http://www.w3.org/2000/svg" d="m409.601562 315.210938c-8.078124.121093-16.011718-2.113282-22.835937-6.433594-3.921875-2.617188-4.980469-7.914063-2.363281-11.835938 2.613281-3.921875 7.914062-4.980468 11.835937-2.363281 8.332031 4.53125 18.390625 4.53125 26.726563 0 2.199218-.652344 3.707031-2.671875 3.707031-4.96875 0-2.292969-1.507813-4.3125-3.707031-4.964844-4.023438-2.441406-8.660156-3.679687-13.363282-3.566406-4.714843 0-8.535156-3.820313-8.535156-8.535156 0-4.710938 3.820313-8.53125 8.535156-8.53125 8.074219-.125 16.011719 2.113281 22.832032 6.433593 6.972656 3.859376 11.300781 11.199219 11.300781 19.164063 0 7.96875-4.328125 15.308594-11.300781 19.167969-6.824219 4.320312-14.757813 6.554687-22.832032 6.433594zm0 0" fill="#f29c1f" data-original="#f29c1f" style="" class=""/><path xmlns="http://www.w3.org/2000/svg" d="m409.601562 246.945312c-4.714843 0-8.535156-3.820312-8.535156-8.535156v-8.53125c0-4.714844 3.820313-8.535156 8.535156-8.535156 4.710938 0 8.53125 3.820312 8.53125 8.535156v8.53125c0 4.714844-3.820312 8.535156-8.53125 8.535156zm0 0" fill="#f29c1f" data-original="#f29c1f" style="" class=""/><path xmlns="http://www.w3.org/2000/svg" d="m409.601562 323.746094c-4.714843 0-8.535156-3.820313-8.535156-8.535156v-8.53125c0-4.714844 3.820313-8.535157 8.535156-8.535157 4.710938 0 8.53125 3.820313 8.53125 8.535157v8.53125c0 4.714843-3.820312 8.535156-8.53125 8.535156zm0 0" fill="#f29c1f" data-original="#f29c1f" style="" class=""/><path xmlns="http://www.w3.org/2000/svg" d="m187.734375 502.945312c-4.714844 0-8.535156-3.820312-8.535156-8.535156v-67.328125c0-4.710937 3.820312-8.53125 8.535156-8.53125 4.710937 0 8.53125 3.820313 8.53125 8.53125v67.328125c0 4.714844-3.820313 8.535156-8.53125 8.535156zm0 0" fill="#cc6f56" data-original="#cc6f56" style="" class=""/></g></svg>
          <p class='text-center mt-3'>1. Pick a project you want to boost & choose how much you want to invest</p>
        </div>
      </div>
      <div class="card-hiw col-sm-4 col-md-3">
        <div class="card-hiw-content text-center">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="160" height="160" x="0" y="0" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><path xmlns="http://www.w3.org/2000/svg" d="m251.660156 373.671875s-62.480468 21.609375-104.828125-5.640625c-42.347656-27.246094-48.25-93.199219-48.25-93.199219zm0 0" fill="#4c8056" data-original="#4c8056" style="" class=""/><path xmlns="http://www.w3.org/2000/svg" d="m251.660156 373.671875-153.078125-98.839844s62.480469-21.609375 104.742188 5.726563c42.261719 27.335937 48.335937 93.113281 48.335937 93.113281zm0 0" fill="#7fb742" data-original="#71c285" style="" class=""/><path xmlns="http://www.w3.org/2000/svg" d="m404.742188 274.832031s-5.988282 65.863281-48.25 93.199219c-42.261719 27.335938-104.832032 5.640625-104.832032 5.640625zm0 0" fill="#4c8056" data-original="#4c8056" style="" class=""/><path xmlns="http://www.w3.org/2000/svg" d="m404.742188 274.832031-153.082032 98.839844s5.988282-65.863281 48.335938-93.113281c42.351562-27.25 104.746094-5.726563 104.746094-5.726563zm0 0" fill="#7fb742" data-original="#71c285" style="" class=""/><path xmlns="http://www.w3.org/2000/svg" d="m251.660156 512c-4.792968 0-8.675781-3.886719-8.675781-8.679688v-295.050781c0-4.792969 3.882813-8.675781 8.675781-8.675781 4.792969 0 8.679688 3.882812 8.679688 8.675781v295.050781c0 4.792969-3.886719 8.679688-8.679688 8.679688zm0 0" fill="#cc6f56" data-original="#cc6f56" style="" class=""/><path xmlns="http://www.w3.org/2000/svg" d="m503.320312 485.394531c-4.746093-5.167969-11.441406-8.105469-18.457031-8.105469s-13.710937 2.9375-18.457031 8.105469l-9.726562 9.824219c-4.746094 5.164062-11.441407 8.101562-18.457032 8.101562-7.011718 0-13.707031-2.9375-18.453125-8.101562l-9.726562-9.824219c-4.746094-5.167969-11.441407-8.105469-18.457031-8.105469-7.015626 0-13.710938 2.9375-18.460938 8.105469l-9.726562 9.824219c-4.746094 5.164062-11.441407 8.101562-18.457032 8.101562s-13.710937-2.9375-18.457031-8.101562l-9.738281-9.824219c-4.746094-5.167969-11.441406-8.105469-18.457032-8.105469-7.015624 0-13.710937 2.9375-18.460937 8.105469l-9.726563 9.824219c-4.746093 5.164062-11.441406 8.101562-18.457031 8.101562s-13.710937-2.9375-18.457031-8.101562l-9.730469-9.824219c-4.746093-5.167969-11.441406-8.105469-18.457031-8.105469s-13.710938 2.9375-18.457031 8.105469l-9.722657 9.824219c-4.746093 5.164062-11.441406 8.101562-18.457031 8.101562s-13.710937-2.9375-18.457031-8.101562l-9.738281-9.824219c-4.746094-5.167969-11.441407-8.105469-18.457031-8.105469-7.015626 0-13.710938 2.9375-18.457032 8.105469l-9.726562 9.824219c-4.746094 5.164062-11.441406 8.101562-18.457032 8.101562-7.011718 0-13.707031-2.9375-18.453124-8.101562l-9.699219-9.824219c-4.75-5.167969-11.445313-8.105469-18.460938-8.105469s-13.710937 2.9375-18.457031 8.105469v26.605469h503.320312zm0 0" fill="#cb8252" data-original="#cb8252" style=""/><path xmlns="http://www.w3.org/2000/svg" d="m407.863281 0h-312.40625c.027344 9.222656-3.617187 18.078125-10.128906 24.613281-6.511719 6.53125-15.359375 10.203125-24.582031 10.203125v138.640625c9.222656 0 18.070312 3.667969 24.582031 10.203125 6.511719 6.53125 10.15625 15.386719 10.128906 24.609375h312.40625c-.027343-9.222656 3.617188-18.078125 10.132813-24.609375 6.511718-6.535156 15.355468-10.203125 24.582031-10.203125v-138.640625c-9.226563 0-18.070313-3.671875-24.582031-10.203125-6.515625-6.535156-10.160156-15.390625-10.132813-24.613281zm0 0" fill="#7fb742" data-original="#24ae5f" style="" class=""/><path xmlns="http://www.w3.org/2000/svg" d="m120.859375 173.558594c-6.105469-10.570313-14.859375-19.363282-25.402344-25.511719v-87.820313c10.542969-6.152343 19.296875-14.945312 25.402344-25.515624h261.605469c6.101562 10.570312 14.855468 19.363281 25.398437 25.515624v87.820313c-10.542969 6.148437-19.296875 14.941406-25.398437 25.511719zm0 0" fill="#7fb742" data-original="#71c285" style="" class=""/><g xmlns="http://www.w3.org/2000/svg" fill="#4c8056"><path d="m138.847656 121.492188c-4.792968 0-8.679687-3.886719-8.679687-8.679688v-26.03125c0-4.792969 3.886719-8.679688 8.679687-8.679688 4.792969 0 8.679688 3.886719 8.679688 8.679688v26.03125c0 4.792969-3.886719 8.679688-8.679688 8.679688zm0 0" fill="#4c8056" data-original="#4c8056" style="" class=""/><path d="m364.472656 121.492188c-4.789062 0-8.675781-3.886719-8.675781-8.679688v-26.03125c0-4.792969 3.886719-8.679688 8.675781-8.679688 4.792969 0 8.679688 3.886719 8.679688 8.679688v26.03125c0 4.792969-3.886719 8.679688-8.679688 8.679688zm0 0" fill="#4c8056" data-original="#4c8056" style="" class=""/><path d="m251.660156 182.238281c-43.132812 0-78.101562-34.96875-78.101562-78.101562 0-43.136719 34.96875-78.101563 78.101562-78.101563 43.136719 0 78.101563 34.964844 78.101563 78.101563-.046875 43.113281-34.984375 78.054687-78.101563 78.101562zm0-138.847656c-33.546875 0-60.746094 27.195313-60.746094 60.746094 0 33.546875 27.199219 60.746093 60.746094 60.746093 33.550782 0 60.746094-27.199218 60.746094-60.746093-.039062-33.535157-27.210938-60.707031-60.746094-60.746094zm0 0" fill="#4c8056" data-original="#4c8056" style="" class=""/><path d="m251.660156 112.8125c-10.519531-.011719-20-6.355469-24.023437-16.078125-4.023438-9.71875-1.800781-20.90625 5.636719-28.351563 10.28125-9.851562 26.496093-9.851562 36.777343 0 3.289063 3.40625 3.242188 8.816407-.105469 12.164063-3.347656 3.347656-8.761718 3.394531-12.167968.105469-3.414063-3.289063-8.820313-3.289063-12.234375 0-2.472657 2.480468-3.210938 6.203125-1.875 9.441406 1.339843 3.238281 4.492187 5.351562 7.992187 5.363281 4.792969 0 8.679688 3.886719 8.679688 8.679688s-3.886719 8.675781-8.679688 8.675781zm0 0" fill="#4c8056" data-original="#4c8056" style="" class=""/><path d="m251.660156 147.527344c-6.902344.015625-13.527344-2.738282-18.386718-7.636719-3.390626-3.402344-3.378907-8.90625.019531-12.292969 3.402343-3.390625 8.90625-3.378906 12.292969.019532 3.414062 3.292968 8.820312 3.292968 12.238281 0 2.476562-2.484376 3.214843-6.21875 1.863281-9.460938-1.347656-3.238281-4.515625-5.347656-8.027344-5.34375-4.792968 0-8.675781-3.882812-8.675781-8.675781s3.882813-8.679688 8.675781-8.679688c14.378906 0 26.035156 11.65625 26.035156 26.035157 0 14.378906-11.65625 26.035156-26.035156 26.035156zm0 0" fill="#4c8056" data-original="#4c8056" style="" class=""/><path d="m251.660156 156.203125c-4.792968 0-8.675781-3.886719-8.675781-8.675781v-8.679688c0-4.792968 3.882813-8.679687 8.675781-8.679687 4.792969 0 8.679688 3.886719 8.679688 8.679687v8.679688c0 4.789062-3.886719 8.675781-8.679688 8.675781zm0 0" fill="#4c8056" data-original="#4c8056" style="" class=""/><path d="m251.660156 78.101562c-4.792968 0-8.675781-3.886718-8.675781-8.679687v-8.675781c0-4.792969 3.882813-8.679688 8.675781-8.679688 4.792969 0 8.679688 3.886719 8.679688 8.679688v8.675781c0 4.792969-3.886719 8.679687-8.679688 8.679687zm0 0" fill="#4c8056" data-original="#4c8056" style="" class=""/></g></g></svg>
          <p class="text-center mt-3">2. Watch the progress & postive impact of the investments you made</p>
        </div>
      </div>
      <div class="card-hiw col-sm-4 col-md-3">
        <div class="card-hiw-content text-center">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="160" height="160" x="0" y="0" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><path xmlns="http://www.w3.org/2000/svg" d="m251.660156 428.085938s-62.480468 21.605468-104.828125-5.730469c-42.347656-27.335938-48.25-93.113281-48.25-93.113281zm0 0" fill="#7fb742" data-original="#4c8056" style="" class=""/><path xmlns="http://www.w3.org/2000/svg" d="m251.660156 428.085938-153.078125-98.84375s62.480469-21.609376 104.742188 5.640624 48.335937 93.203126 48.335937 93.203126zm0 0" fill="#7fb742" data-original="#71c285" style="" class=""/><path xmlns="http://www.w3.org/2000/svg" d="m404.742188 329.242188s-5.988282 65.867187-48.25 93.113281c-42.261719 27.25-104.832032 5.730469-104.832032 5.730469zm0 0" fill="#7fb742" data-original="#4c8056" style="" class=""/><path xmlns="http://www.w3.org/2000/svg" d="m404.742188 329.242188-153.082032 98.84375s5.988282-65.867188 48.335938-93.203126c42.351562-27.335937 104.746094-5.640624 104.746094-5.640624zm0 0" fill="#7fb742" data-original="#71c285" style="" class=""/><path xmlns="http://www.w3.org/2000/svg" d="m251.660156 512c-4.792968 0-8.675781-3.886719-8.675781-8.679688v-208.269531c0-4.792969 3.882813-8.679687 8.675781-8.679687 4.792969 0 8.679688 3.886718 8.679688 8.679687v208.269531c0 4.792969-3.886719 8.679688-8.679688 8.679688zm0 0" fill="#cc6f56" data-original="#cc6f56" style="" class=""/><path xmlns="http://www.w3.org/2000/svg" d="m503.320312 485.394531c-4.746093-5.167969-11.441406-8.105469-18.457031-8.105469s-13.710937 2.9375-18.457031 8.105469l-9.726562 9.824219c-4.746094 5.164062-11.441407 8.101562-18.457032 8.101562-7.011718 0-13.707031-2.9375-18.453125-8.101562l-9.726562-9.824219c-4.746094-5.167969-11.441407-8.105469-18.457031-8.105469-7.015626 0-13.710938 2.9375-18.460938 8.105469l-9.726562 9.824219c-4.746094 5.164062-11.441407 8.101562-18.457032 8.101562s-13.710937-2.9375-18.457031-8.101562l-9.738281-9.824219c-4.746094-5.167969-11.441406-8.105469-18.457032-8.105469-7.015624 0-13.710937 2.9375-18.460937 8.105469l-9.726563 9.824219c-4.746093 5.164062-11.441406 8.101562-18.457031 8.101562s-13.710937-2.9375-18.457031-8.101562l-9.730469-9.824219c-4.746093-5.167969-11.441406-8.105469-18.457031-8.105469s-13.710938 2.9375-18.457031 8.105469l-9.722657 9.824219c-4.746093 5.164062-11.441406 8.101562-18.457031 8.101562s-13.710937-2.9375-18.457031-8.101562l-9.738281-9.824219c-4.746094-5.167969-11.441407-8.105469-18.457031-8.105469-7.015626 0-13.710938 2.9375-18.457032 8.105469l-9.726562 9.824219c-4.746094 5.164062-11.441406 8.101562-18.457032 8.101562-7.011718 0-13.707031-2.9375-18.453124-8.101562l-9.699219-9.824219c-4.75-5.167969-11.445313-8.105469-18.460938-8.105469s-13.710937 2.9375-18.457031 8.105469v26.605469h503.320312zm0 0" fill="#cb8252" data-original="#cb8252" style="" class=""/><path xmlns="http://www.w3.org/2000/svg" d="m251.660156 34.710938v130.171874l-91.984375 91.984376c-37.261719-37.199219-48.425781-93.1875-28.285156-141.832032 20.144531-48.644531 67.621094-80.351562 120.269531-80.324218zm0 0" fill="#f29d1f" data-original="#802d40" style="" class=""/><path xmlns="http://www.w3.org/2000/svg" d="m381.832031 164.882812c.027344 52.648438-31.679687 100.125-80.324219 120.269532-48.644531 20.140625-104.636718 8.976562-141.832031-28.285156l91.984375-91.984376zm0 0" fill="#f0c519" data-original="#cc66a1" style="" class=""/><path xmlns="http://www.w3.org/2000/svg" d="m416.542969 130.167969h-130.171875v-130.167969c65.152344 14.132812 116.039062 65.019531 130.171875 130.167969zm0 0" fill="#f0c519" data-original="#d75e72" style="" class=""/></g></svg>
          <p class="text-center mt-3">3. Receive your rewards if the investment goal is reached & the project is funded</p>
        </div>
      </div>
    </div>

    <%# MAP & CONTENT %>
    <div class="card-map">
      <div class="container d-flex justify-content-between">
        <div class="row">
          <div class="col-6">
            <div class="card-map-content">
              <div class="card-map-header d-flex justify-content-center">
                <h2>Let´s make the map&nbsp;</h2><h2 class="green-word">GREEN!</h2>
              </div>

              <p>
                A Clean Environment Is Essential for Healthy Living.
                The more you don't care about our environment,
                the more it will become polluted with contaminants and toxins that
                have a harmful impact on our health.
                Air pollution can cause respiratory diseases and cancer, among other problems and diseases.
                <br><br>
                 The problems we are facing now are tough.
                However, the good news is that, you don’t have to be an expert or a millionaire
                to save the Planet – everyone can help to do their bit for the environment.
                In other words, if each of us can be more conscious of environmental issues
                and willing to take some simple steps to save the Planet, we can make a huge contribution.
              </p>

            </div>
            </div>
          <div class="col-6">
            <div class="card-map-image">
                <div id="map-home"
                  data-markers="<%= @markers.to_json %>"
                  data-mapbox-api-key="pk.eyJ1Ijoiam9ubmFzc29uIiwiYSI6ImNrbHRjNWw0MTE3a2wyb2xsZTZkbzN1cHEifQ.Bn8A3OsroPo72zNpSH5LxA">
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  <%# Best BOOSTER Projects %>
  <div class="card-home-header text-center d-flex justify-content-center">
    <h2>Best&nbsp;</h2><h2 class="green-word">BOOSTER&nbsp;</h2><h2>Projects</h2>
  </div>
    <div class="card-home-all">
      <div class="multiple-items">
        <% @projects.each do | project | %>
          <div class="card-home">
            <% if project.image.attached? %>
              <div class="card-home-image">
                <div class="picture-layer"></div>
                <%= cl_image_tag project.image.key, crop: :fill %>
              </div>
            <% else %>
              <div class="card-home-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://res.cloudinary.com/rentmylife/image/upload/v1614768592/assets/photo-1473973266408-ed4e27abdd47_ohveth.jpg')">
              </div>
            <% end %>
            <div class="card-content">
              <h4 class="card-title"><%= project.name %></h4>
              <div class="card-text">
                <p class="category">
                  <% if project.category == "planting" %>
                    <i class="fas fa-seedling category-dropdown-icon"> </i>
                  <% elsif project.category == "energy" %>
                    <i class="fas fa-solar-panel category-dropdown-icon"> </i>
                  <% elsif project.category == "animals" %>
                    <i class="fab fa-forumbee category-dropdown-icon"> </i>
                  <% elsif project.category == "plastic alternatives" %>
                    <i class="fas fa-box-open category-dropdown-icon"> </i>
                  <% end %>
                  <%= project.category.capitalize %>
                </p>
                <p class="address"><i class="fas fa-map-marker-alt"></i>  <%= project.address %></p>
                <h6 class="punchline">"<%= project.punchline %>"</h6>
                <p class="investment_goal"><i class="fas fa-money-bill-wave"></i> Goal: <%= humanized_money_with_symbol(project.investment_goal_cents) %> </p>
                <div class="home-progress">
                  <% current_investment_sum = project.current_investment_sum_cents
                  investment_goal = project.investment_goal_cents
                  @investement_percentage = current_investment_sum.to_f / investment_goal * 100.0 %>
                  <div class="project-progress">
                    <div class="progress">
                      <div class="progress-bar"
                            role="progressbar"
                            style="width: <%= @investement_percentage %>%"
                            aria-valuenow="25"
                            aria-valuemin="0"
                            aria-valuemax="100">
                      </div>
                    </div>
                    <p class="investement_percentage">(<%= @investement_percentage.round %>%)</p>
                  </div>
                </div>
              </div>
              <div class="text-center">
                <%= link_to "More Details", project_path(project), class: "btn-normal-green btn-home-lrg mb-3", data: { turbolinks: false } %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

  <%# CARDS FULLY FUNDED %>
  <div class="card-home-header text-center d-flex justify-content-center">
    <h2>Fully&nbsp;</h2><h2 class="green-word">BOOSTED&nbsp;</h2><h2>Projects</h2>
  </div>
    <div class="card-home-all">
      <div class="multiple-items">
        <% @projects.each do | project | %>
          <% if project.current_investment_sum_cents >= project.investment_goal_cents %>
            <div class="card-home">
              <% if project.image.attached? %>
                <div class="card-home-image">
                  <svg xmlns="http://www.w3.org/2000/svg" class="fully-funded-icon icon icon-tabler icon-tabler-square-check" width="180" height="180" viewBox="0 0 24 24" stroke-width="1.5" stroke="#7fb742"fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <rect x="4" y="4" width="16" height="16" rx="2" />
                    <path d="M9 12l2 2l4 -4" />
                  </svg>
                  <%= cl_image_tag project.image.key, crop: :fill %>

                </div>
              <% else %>
                <div class="card-home-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://res.cloudinary.com/rentmylife/image/upload/v1614768592/assets/photo-1473973266408-ed4e27abdd47_ohveth.jpg')">
                </div>
              <% end %>
              <div class="card-content">
                <h4 class="card-title"><%= project.name %></h4>
                <div class="card-text">
                  <p class="category">
                    <% if project.category == "planting" %>
                      <i class="fas fa-seedling category-dropdown-icon"> </i>
                    <% elsif project.category == "energy" %>
                      <i class="fas fa-solar-panel category-dropdown-icon"> </i>
                    <% elsif project.category == "animals" %>
                      <i class="fab fa-forumbee category-dropdown-icon"> </i>
                    <% elsif project.category == "plastic alternatives" %>
                      <i class="fas fa-box-open category-dropdown-icon"> </i>
                    <% end %>
                    <%= project.category.capitalize %>
                  </p>
                  <p class="address"><i class="fas fa-map-marker-alt"></i>  <%= project.address %></p>
                  <h6 class="punchline mb-3">"<%= project.punchline %>"</h6>
                  <p class="investment_goal"><i class="fas fa-money-bill-wave"></i> Goal: <%= humanized_money_with_symbol(project.investment_goal_cents) %> </p>
                  <div class="home-progress">
                    <% current_investment_sum = project.current_investment_sum_cents
                    investment_goal = project.investment_goal_cents
                    @investement_percentage = current_investment_sum.to_f / investment_goal * 100.0 %>
                    <div class="project-progress">
                      <div class="progress">
                        <div class="progress-bar"
                              role="progressbar"
                              style="width: <%= @investement_percentage %>%"
                              aria-valuenow="25"
                              aria-valuemin="0"
                              aria-valuemax="100">
                        </div>
                      </div>
                      <p class="investement_percentage">(<%= @investement_percentage.round %>%)</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

  <%# BAR %>
  <div class="background-image-bar"></div>
</div>
<script>
window.map.resize();
</script>

<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>


<script>
jQuery(document).ready(function($){
 $('.multiple-items').slick({
  infinite: false,
  slidesToShow: 1,
  slidesToScroll: 2,
  nextArrow: '<i class="fas fa-caret-right fa-3x"></i>',
  prevArrow: '<i class="fas fa-caret-left fa-3x"></i>',
  variableWidth: true,
  useTransform: false
})
});
</script>
