<div class="hero-banner">
  <%# SEARCHBAR #%>
  <div class="searchbar">
    <%= form_tag projects_path, class: "search-form", method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "search-input",
        placeholder: "Search for category..."
      %>
      <%= button_tag(type: "submit", class: "btn btn-default", data: { turbolinks: false }) do %>
        <i class="fas fa-search"></i>
      <% end %>
    <% end %>
  </div>


  <div class="hero-content">
    <h1>Green Booster</h1>
    <h3>investing green to make our world better</h3>
  </div>
  <div class="hero-buttons text-center">
    <%= link_to "Boost Now", projects_path, class: "btn-large-white btn-hero", data: { turbolinks: false } %>
    <%= link_to "Create Project", new_project_path, class: "btn-large-green btn-hero", data: { turbolinks: false } %>
  </div>
</div>

<div class="container-wide">
  <div class="container-home">
    <%# HOW INVESTING WORKS %>
    <h2 class="cards-hiw-header text-center">How To Invest</h2>

    <%# VERSION WITH CIRCLES %>
    <div class="cards-hiw-all d-flex justify-content-around row">
      <div class="card-hiw col-sm-4 col-md-3">
        <div class="card-hiw-content text-center">
          <img class="how-icon" src="https://res.cloudinary.com/rentmylife/image/upload/v1614945248/assets/01_invest_x89g8t.svg" alt="pick">
          <p class='text-center'>1. Pick a project you want to boost & choose how much you want to invest</p>
        </div>
      </div>
      <div class="card-hiw col-sm-4 col-md-3">
        <div class="card-hiw-content text-center">
          <img class="how-icon" src="https://res.cloudinary.com/rentmylife/image/upload/v1614945248/assets/02_growth_a3zmz3.svg" alt="pick">
          <p>2. Watch the progress & postive impact of the investments you made</p>
        </div>
      </div>
      <div class="card-hiw col-sm-4 col-md-3">
        <div class="card-hiw-content text-center">
          <img class="how-icon" src="https://res.cloudinary.com/rentmylife/image/upload/v1614945248/assets/03_reward_f33bux.svg" alt="pick">
          <p>3. Receive your rewards if the investment goal is reached & the project is funded</p>
        </div>
      </div>
    </div>

    <%# MAP & CONTENT %>
    <div class="card-map">
      <div class="container d-flex justify-content-between">
        <div class="row">
          <div class="col-6">
            <div class="card-map-content">
              <div class="card-map-header d-flex justify-content-center">
                <h2>Let´s make the map&nbsp;</h2><h2 class="green-word">GREEN!</h2>
              </div>

              <p>
                A Clean Environment Is Essential for Healthy Living.
                The more you don't care about our environment,
                the more it will become polluted with contaminants and toxins that
                have a harmful impact on our health.
                Air pollution can cause respiratory diseases and cancer, among other problems and diseases.
                <br><br>
                 The problems we are facing now are tough.
                However, the good news is that, you don’t have to be an expert or a millionaire
                to save the Planet – everyone can help to do their bit for the environment.
                In other words, if each of us can be more conscious of environmental issues
                and willing to take some simple steps to save the Planet, we can make a huge contribution.
              </p>

            </div>
            </div>
          <div class="col-6">
            <div class="card-map-image">
                <div id="map-home"
                  data-markers="<%= @markers.to_json %>"
                  data-mapbox-api-key="pk.eyJ1Ijoiam9ubmFzc29uIiwiYSI6ImNrbHRjNWw0MTE3a2wyb2xsZTZkbzN1cHEifQ.Bn8A3OsroPo72zNpSH5LxA">
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  <%# Best BOOSTER Projects %>
  <div class="card-home-header text-center d-flex justify-content-center">
    <h2>Best&nbsp;</h2><h2 class="green-word">BOOSTER&nbsp;</h2><h2>Projects</h2>
  </div>
    <div class="card-home-all">
      <div class="multiple-items">
        <% @projects.each do | project | %>
          <% if project.current_investment_sum_cents < project.investment_goal_cents %>
            <div class="card-home">
              <% if project.image.attached? %>
                <div class="card-home-image">
                  <div class="picture-layer"></div>
                  <%= cl_image_tag project.image.key, crop: :fill %>
                </div>
              <% else %>
                <div class="card-home-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://res.cloudinary.com/rentmylife/image/upload/v1614768592/assets/photo-1473973266408-ed4e27abdd47_ohveth.jpg')">
                </div>
              <% end %>
              <div class="card-content">
                <h4 class="card-title"><%= project.name %></h4>
                <div class="card-text">
                  <p class="category">
                    <% if project.category == "planting" %>
                      <i class="fas fa-seedling category-dropdown-icon"> </i>
                    <% elsif project.category == "energy" %>
                      <i class="fas fa-solar-panel category-dropdown-icon"> </i>
                    <% elsif project.category == "animals" %>
                      <i class="fab fa-forumbee category-dropdown-icon"> </i>
                    <% elsif project.category == "plastic alternatives" %>
                      <i class="fas fa-box-open category-dropdown-icon"> </i>
                    <% end %>
                    <%= project.category.capitalize %>
                  </p>
                  <p class="address"><i class="fas fa-map-marker-alt"></i>  <%= project.address %></p>
                  <h6 class="punchline">"<%= project.punchline %>"</h6>
                  <p class="investment_goal"><i class="fas fa-money-bill-wave"></i> Goal: <%= humanized_money_with_symbol(project.investment_goal_cents) %> </p>
                  <div class="home-progress">
                    <% current_investment_sum = project.current_investment_sum_cents
                    investment_goal = project.investment_goal_cents
                    @investement_percentage = current_investment_sum.to_f / investment_goal * 100.0 %>
                    <div class="project-progress">
                      <div class="progress">
                        <div class="progress-bar"
                              role="progressbar"
                              style="width: <%= @investement_percentage %>%"
                              aria-valuenow="25"
                              aria-valuemin="0"
                              aria-valuemax="100">
                        </div>
                      </div>
                      <p class="investement_percentage">(<%= @investement_percentage.round %>%)</p>
                    </div>
                  </div>
                </div>
                <div class="text-center">
                  <%= link_to "Boost Now", project_path(project), class: "btn-normal-green w-100", data: { turbolinks: false } %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

  <%# CARDS FULLY FUNDED %>
  <div class="card-home-header text-center d-flex justify-content-center">
    <h2>Fully&nbsp;</h2><h2 class="green-word">BOOSTED&nbsp;</h2><h2>Projects</h2>
  </div>
    <div class="card-home-all">
      <div class="multiple-items">
        <% @projects.each do | project | %>
          <% if project.current_investment_sum_cents >= project.investment_goal_cents %>
            <div class="card-home">
              <% if project.image.attached? %>
                <div class="card-home-image">
                  <div class="">
                    <svg xmlns="http://www.w3.org/2000/svg" class="fully-funded-icon icon icon-tabler icon-tabler-square-check" width="180" height="180" viewBox="0 0 24 24" stroke-width="1.5" stroke="#7fb742"fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                      <rect x="4" y="4" width="16" height="16" rx="2" />
                      <path d="M9 12l2 2l4 -4" />
                    </svg>
                  </div>
                  <%= cl_image_tag project.image.key, crop: :fill %>

                </div>
              <% else %>
                <div class="card-home-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://res.cloudinary.com/rentmylife/image/upload/v1614768592/assets/photo-1473973266408-ed4e27abdd47_ohveth.jpg')">
                </div>
              <% end %>
              <div class="card-content">
                <h4 class="card-title"><%= project.name %></h4>
                <div class="card-text">
                  <p class="category">
                    <% if project.category == "planting" %>
                      <i class="fas fa-seedling category-dropdown-icon"> </i>
                    <% elsif project.category == "energy" %>
                      <i class="fas fa-solar-panel category-dropdown-icon"> </i>
                    <% elsif project.category == "animals" %>
                      <i class="fab fa-forumbee category-dropdown-icon"> </i>
                    <% elsif project.category == "plastic alternatives" %>
                      <i class="fas fa-box-open category-dropdown-icon"> </i>
                    <% end %>
                    <%= project.category.capitalize %>
                  </p>
                  <p class="address"><i class="fas fa-map-marker-alt"></i>  <%= project.address %></p>
                  <h6 class="punchline">"<%= project.punchline %>"</h6>
                  <p class="investment_goal"><i class="fas fa-money-bill-wave"></i> Goal: <%= humanized_money_with_symbol(project.investment_goal_cents) %> </p>
                  <div class="home-progress">
                    <% current_investment_sum = project.current_investment_sum_cents
                    investment_goal = project.investment_goal_cents
                    @investement_percentage = current_investment_sum.to_f / investment_goal * 100.0 %>
                    <div class="project-progress">
                      <div class="progress">
                        <div class="progress-bar"
                              role="progressbar"
                              style="width: <%= @investement_percentage %>%"
                              aria-valuenow="25"
                              aria-valuemin="0"
                              aria-valuemax="100">
                        </div>
                      </div>
                      <p class="investement_percentage">(<%= @investement_percentage.round %>%)</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

  <%# BAR %>
  <div class="background-image-bar"></div>
</div>
<script>
window.map.resize();
</script>

<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>


<script>
jQuery(document).ready(function($){
 $('.multiple-items').slick({
  infinite: false,
  slidesToShow: 1,
  slidesToScroll: 2,
  nextArrow: '<i class="fas fa-caret-right fa-3x"></i>',
  prevArrow: '<i class="fas fa-caret-left fa-3x"></i>',
  variableWidth: true,
  useTransform: false
})
});
</script>
