<div class="mapboxgl-popup">
    <div class="mapboxgl-popup-content">
        <a href="<%= project_path(project)%>" target="_blank">
            <div class="map-popup">
                <div class="map-img">
                <% if project.image.attached? %>
                    <%= cl_image_tag(project.image.key, :height=>40) %>
                <% else %>
                    <%= cl_image_tag("https://res.cloudinary.com/rentmylife/image/upload/v1615300113/assets/seedling-solid_qrct50.svg", :height=>40)%>
                <% end %>
                </div>
                <div class="map-meta">
                    <h4><%= project.name %></h4>
                    <p>Location: <%= project.address %></p>
                    <p>Progress: <%= money_without_cents_and_with_symbol(project.current_investment_sum_cents) %> of <%= money_without_cents_and_with_symbol(project.investment_goal_cents) %></p>
                </div>
            </div>
        </a>
    </div>
</div>