<div class="cards-projects">
  <h1>Category: Packaging</h1>
  <p>Check Out different projects to reduce packaging! Less plastic and a smaller carbon footprint!</p>
  <div class="cards-projects-single">
    <img class="cards-projects-image" src="..." alt="Card image cap">
    <div class="cards-projects-body">
      <h5 class="cards-projects-title">Card title</h5>
      <p class="cards-projects-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
  </div>
</div>

<div class="projectcontent">
<div class="projectcards">
  <% @projects.each do |project| %>
    <div class="progress">
      <% current_investment_sum = project.current_investment_sum
      investment_goal = project.investment_goal
      @investement_percentage = current_investment_sum.to_f / investment_goal * 100.0 %>
      <div class="progress-bar bg-success" role="progressbar" style="width: <%= @investement_percentage %>%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div>
      <ul>
        <li><strong>Name: </strong><%= project.name %></li>
        <li><strong>Punchline: </strong><%= project.punchline %></li>
        <li><strong>Category: </strong><%= project.category %></li>
        <li><strong>investment_goal: </strong><%= project.investment_goal %></li>
      </ul>
    </div>
  <% end %>
</div>
  <div id="map"
      style="width: 50%; height: 600px;"
       data-markers="<%= @markers.to_json %>"
       data-mapbox-api-key="pk.eyJ1Ijoiam9ubmFzc29uIiwiYSI6ImNrbHRjNWw0MTE3a2wyb2xsZTZkbzN1cHEifQ.Bn8A3OsroPo72zNpSH5LxA">
  </div>
</div>


