<div class="container-wide">
  <div class="project-container">
    <div class="cards-projects-all">

      <%# SUB HERO BANNER %>
      <div class="sub-banner-index">
        <div class="sub-text-index">
          <h1>Check out our Projects</h1>
          <div class="d-flex justify-content-center">
            <h4>and make your&nbsp;</h4><h4 class="green-word">BOOST&nbsp;</h4><h4>for a green planet!</h4>
          </div>

          <div class="searchbar-subhero">
            <%= form_tag projects_path, class: "search-form search-form-subhero", method: :get do %>
              <%= text_field_tag :query,
                params[:query],
                class: "search-input search-input-subhero",
                placeholder: "Search..."
              %>
              <%= button_tag(type: "submit", class: "btn btn-default") do %>
                <i class="fas fa-search"></i>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>

      <%# PROJECTS %>
      <% @projects.sort_by(&:id).each do |project| %>
        <div class="card-project">
        <% if project.image.attached? %>
          <%= link_to cl_image_tag(project.image.key), project_path(project), class: "card-project-image", 'aria-haspopup': true, 'aria-expanded': false, data: { turbolinks: false }%>
        <% else %>
          <%= link_to cl_image_tag("https://res.cloudinary.com/rentmylife/image/upload/v1615300113/assets/seedling-solid_qrct50.svg"), project_path(project), class: "card-project-image", 'aria-haspopup': true, 'aria-expanded': false, data: { turbolinks: false } %>
        <% end %>
          <div class="card-project-content">
            <h3 class="card-project-title"><%= project.name %></h3>
            <p class="card-project-category">
              <% if project.category == "planting" %>
                <i class="fas fa-seedling category-dropdown-icon"> </i>
              <% elsif project.category == "energy" %>
                <i class="fas fa-solar-panel category-dropdown-icon"> </i>
              <% elsif project.category == "animals" %>
                <i class="fab fa-forumbee category-dropdown-icon"> </i>
              <% elsif project.category == "plastic alternatives" %>
                <i class="fas fa-box-open category-dropdown-icon"> </i>
              <% end %>
              <%= project.category.capitalize %>
            </p>

            <p class="card-project-address"><i class="fas fa-map-marker-alt"></i>  <%= project.address %></p>
            <h6 class="card-project-punchline">"<%= project.punchline %>"</h6>

            <div class="card-project-progress-all">
              <% current_investment_sum = project.current_investment_sum_cents
              investment_goal = project.investment_goal_cents
              @investement_percentage = current_investment_sum.to_f / investment_goal * 100.0 %>
              <div class="card-project-progress">
                <div class="progress">
                  <div class="progress-bar"
                        role="progressbar"
                        style="width: <%= @investement_percentage %>%"
                        aria-valuenow="25"
                        aria-valuemin="0"
                        aria-valuemax="100">
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-end">
              <p class="investement_percentage pr-3">(<%= @investement_percentage.round %>%)</p>
              <p class="card-project-goal"><i class="fas fa-money-bill-wave"></i>  Goal: <%= humanized_money_with_symbol(project.investment_goal_cents) %></p>
            </div>
            <% if project.user != current_user %>
              <%= link_to "Boost now", project_path(project), class: "btn-normal-green w-100", data: { turbolinks: false } %>
              <% else %>
              <%= link_to "Show project", project_path(project), class: "btn-normal-green w-100", data: { turbolinks: false } %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <div id="map"
         style="width: 45%; height: 100vh; margin-right: 0;"
         data-markers="<%= @markers.to_json %>"
         data-mapbox-api-key="pk.eyJ1Ijoiam9ubmFzc29uIiwiYSI6ImNrbHRjNWw0MTE3a2wyb2xsZTZkbzN1cHEifQ.Bn8A3OsroPo72zNpSH5LxA">
    </div>
  </div>
</div>
