<%# SUB HERO BANNER %>
<% if @project.image.attached? %>
  <div class="sub-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @project.image.key %>')">
<% else %>
  <div class="sub-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path('https://res.cloudinary.com/rentmylife/image/upload/v1615300113/assets/seedling-solid_qrct50.svg') %>')">
<% end %>
  <div class="sub-text">
    <h1 class="mb-4"></i> <%= @project.name %></i></h1>
    <h3 class="mb-4">"<%= @project.punchline %>"</h3>
    <h4><i class="fas fa-map-marker-alt"></i> <%= @project.address %></h4>
  </div>
</div>
<%# PURE CSS FIREWORKS %>
  <div class="pyro" id="fireworks" style="display:none;">
    <div class="before"></div>
    <div class="after"></div>
  </div>
<%# MAIN CONTENT %>
<div class="container-wide">
  <div class="container-general">

    <div class="project-content">

      <div class="project-progress-all text-center">
        <div class="mt-3 mb-4 d-flex justify-content-center">
          <h2 class="green-word">BOOSTER&nbsp;</h2>&nbsp;&nbsp;<h2>Progress</h2>
        </div>

        <div class="progress-status d-flex justify-content-between mb-4">
          <div class="d-flex justify-content-between">
            <h4 class="pr-3"><i class="fas fa-hand-holding-usd"></i>&nbsp;&nbsp;Invested:</h4>
            <H4><%= humanized_money_with_symbol(@project.current_investment_sum_cents) %></h4>
          </div>
          <div class="d-flex justify-content-between">
            <h4 class="pr-3"><i class="fas fa-money-bill-wave"></i>&nbsp;&nbsp;Goal:</h4>
            <H4><%= humanized_money_with_symbol(@project.investment_goal_cents) %></H4>
          </div>
        </div>

        <div class="progress">
          <div class="progress-bar"
            role="progressbar"
            style="width: <%= @investement_percentage %>%"
            aria-valuenow="25"
            aria-valuemin="0"
            aria-valuemax="100">
          </div>
        </div>
        <p style="text-align: end;">(<%= @investement_percentage.round %>%)</p>

        <div class="text-center">
          <% if @project.user != current_user %>
            <%= link_to "Become a Booster!", "#testModal", "data-toggle" => "modal", data: { turbolinks: false }, class: "btn-normal-green", style: "width: 280px"%>
          <% end %>
        </div>
      </div>

      <div class="project-paragraph">
        <div class="text-center">
          <iframe width="448" height="252" src="https://www.youtube.com/embed/<%= @project.video.scan(/(?:youtube\.com\/(?:[^\/]+\/.+\/|(?:v|e(?:mbed)?)\/|.*[?&]v=)|youtu\.be\/)([^"&?\/\s]{11})/).join('')%>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
        </div>
        <h2 style="text-align: center; margin: 20px 20px"><%= @project.name %></h2>
        <h4 style="text-align: center; margin: 20px 20px 40px 20px">"<%= @project.punchline %>"</h4>
          <div class="project-category-goal d-flex">
            <li class="project-category">
              <h4 class="p-sub">Category</h4>
              <p class="p-con card-project-category">
                <%= @project.category.capitalize %>
              </p>

            </li>
            <li class="project-goal">
              <h4 class="p-sub">Goal</h4>
              <p class="p-con"><%= humanized_money_with_symbol(@project.investment_goal_cents) %></p>
            </li>
          </div>
          <li class="project-description"><%= @project.description %></li>
          <div class="text-center">
            <% if @project.user != current_user %>
              <%= link_to "Boost this Project", "#testModal", "data-toggle" => "modal", data: { turbolinks: false }, class: "btn-normal-green", style: "width: 280px"%>
            <% end %>
          </div>
        </ul>
      </div>

      <div class="project-other-option d-flex justify-content-around text-center">
        <h5 class="h5-correction">Want to see other Projects?</h5>
        <div class="project-other-btn">
          <%= link_to "back", projects_path, class: "btn-normal-green" %>
          <%= link_to "home", root_path, class: "btn-normal-white", data: { turbolinks: false } %>
        </div>
      </div>

    </div>
  </div>
</div>

<%# FULLY FUNDED POPUP %>

<button class="btn-normal-white" id="fullyfunded">Funding goal reached 🚀 Thank you 🙏🏼</button>


<%# MODAL %>
<div id="testModal" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content"><%= render "investments/new" %></div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-2.1.4.js"></script>

<script>
var condition = <%=@project.current_investment_sum_cents%> >= <%=@project.investment_goal_cents%>;
$('#fireworks').toggle(condition);
$('#fullyfunded').toggle(condition);
</script>

<script>
$("#fullyfunded").click(function(){
  $("#fullyfunded, #fireworks").hide();
});
</script>

