<h1><%= @project.name %></h1>
<div>
  <ul>
    <li><strong>Punchline: </strong><%= @project.punchline %></li>
    <li><strong>Category: </strong><%= @project.category %></li>
    <li><strong>investment_goal: </strong><%= @project.investment_goal %></li>
    <li><strong>description: </strong><%= @project.description %></li>
  </ul>
</div>

<div>
  <h2>Invest</h2>
  <%= link_to @project.name, new_project_investment_path(@project) %></li>
</div>
