<div class="container-general">

  <h1 class="project-name"><%= @project.name %></h1>
  <div class="project-sub-banner d-flex justify-content-space-between">
    <div class="project-punchline">
      <h3><strong>"<%= @project.punchline %>"</strong></h3>
    </div>
    <div class="project-video">
      <iframe width="448" height="252" src="https://www.youtube.com/embed/<%= @project.video.scan(/(?:youtube\.com\/(?:[^\/]+\/.+\/|(?:v|e(?:mbed)?)\/|.*[?&]v=)|youtu\.be\/)([^"&?\/\s]{11})/).join('')%>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
    </div>
  </div>

  <div class="project-content">
    <div class="progress-status">
      <p>Currently invested: <%= @project.current_investment_sum %> €</p>
      <p>Goal: <%= @project.investment_goal %> €</p>
      <p>Percentage: <%= @investement_percentage %>%</p>
    </div>

    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: <%= @investement_percentage %>%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <%= link_to 'Invest in this project', new_project_investment_path(@project), class: "btn-card-project" %>

    <div>
      <ul>
        <li><strong>Punchline: </strong><%= @project.punchline %></li>
        <li><strong>Category: </strong><%= @project.category %></li>
        <li><strong>Investment_goal: </strong><%= @project.investment_goal %></li>
        <li><strong>Description: </strong><%= @project.description %></li>
        <%# <li><strong>Photo: </strong><%= cl_image_tag @project.image.key, width: 300, height: 300, crop: :fill %> <%#</li> %>

      </ul>
    </div>
  </div>
</div>



