<%# SUB HERO BANNER %>
<% if @project.image.attached? %>
<div class="sub-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @project.image.key %>')">
<% else %>
<div class="sub-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path('https://res.cloudinary.com/rentmylife/image/upload/v1615300113/assets/seedling-solid_qrct50.svg') %>')">
<% end %>
  <div class="sub-text">
    <h1 class="mb-4"><!-- <i class="far fa-lightbulb"> --></i> <%= @project.name %> <!-- <i class="far fa-lightbulb"> --></i></h1>
    <h3 class="mb-4">"<%= @project.punchline %>"</h3>
    <h4><i class="fas fa-map-marker-alt"></i> <%= @project.address %></h4>
  </div>
</div>

<%# MAIN CONTENT %>
<div class="container-wide">
  <div class="container-general">

    <div class="project-content">

      <div class="project-progress-all text-center">
        <h2>Booster Bar</h2>
        <br>
        <div class="progress">
          <div class="progress-bar"
            role="progressbar"
            style="width: <%= @investement_percentage %>%"
            aria-valuenow="25"
            aria-valuemin="0"
            aria-valuemax="100">
          </div>
        </div>

        <p style="text-align: end;">(<%= @investement_percentage.round %>%)</p>

        <div class="progress-status">
          <div class="d-flex justify-content-between">
            <h4>Currently Invested : </h4>
            <H4><%= humanized_money_with_symbol(@project.current_investment_sum_cents) %></h4>
          </div>
          <br>
          <div class="d-flex justify-content-between">
            <h4>Goal : </h4>
            <H4><%= humanized_money_with_symbol(@project.investment_goal_cents) %></H4>
          </div>
        </div>
        <div class="text-center">
          <% if @project.user != current_user %>
            <%= link_to 'Become a Booster!', new_project_investment_path(@project), class: "btn-normal-green", style: "width: 280px", data: { turbolinks: false } %>
          <% end %>
        </div>
      </div>

      <div class="project-paragraph">
        <div class="text-center">
          <iframe width="448" height="252" src="https://www.youtube.com/embed/<%= @project.video.scan(/(?:youtube\.com\/(?:[^\/]+\/.+\/|(?:v|e(?:mbed)?)\/|.*[?&]v=)|youtu\.be\/)([^"&?\/\s]{11})/).join('')%>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
        </div>
        <h2 style="text-align: center; margin: 45px 20px">"<%= @project.punchline %>"</h2>
          <div class="project-category-goal d-flex">
            <li class="project-category">
              <p class="p-sub">Category</p>
              <p class="p-con card-project-category">
                <% if @project.category == "Planting" %>
                  <i class="fas fa-seedling category-dropdown-icon"> </i>
                <% elsif @project.category == "Energy" %>
                  <i class="fas fa-solar-panel category-dropdown-icon"> </i>
                <% elsif @project.category == "Animals" %>
                  <i class="fab fa-forumbee category-dropdown-icon"> </i>
                <% elsif @project.category == "Plastic alternatives" %>
                  <i class="fas fa-box-open category-dropdown-icon"> </i>
                <% end %>
                &nbsp;<%= @project.category.capitalize %>
              </p>
            </li>
            <li class="project-goal">
              <p class="p-sub">Investment goal</p>
              <p class="p-con"><%= humanized_money_with_symbol(@project.investment_goal_cents) %></p>
            </li>
          </div>
          <li class="project-description"><%= @project.description %></li>
          <%# <li><strong>Photo: </strong><%= cl_image_tag @project.image.key, width: 300, height: 300, crop: :fill %> <%#</li> %>
          <div class="text-center">
            <% if @project.user != current_user %>
              <%= link_to 'Boost this Project', new_project_investment_path(@project), class: "btn-normal-green", style: "width: 280px", data: { turbolinks: false } %>
            <% end %>
          </div>
        </ul>
      </div>

      <div class="project-other-option d-flex justify-content-around text-center">
        <h5 class="h5-correction">Want to see other Projects?</h5>
        <div class="project-other-btn">
          <%= link_to "back", projects_path, class: "btn-normal-green" %>
          <%= link_to "home", root_path, class: "btn-normal-white" %>
        </div>
      </div>

    </div>
  </div>
</div>


